# Extensions to ignore - toggle on and off as required
# *.html
*.png
*.jpg
*.jpeg
# *.eps
# *.pdf
# *.bmp
# *.svg
# *.tiff
*.Rproj
*.html

# Folders to ignore
archive/
outputs/
test/
figures/
libs/
HTMLs/
rsconnect/

# Keywords to ignore
*archive
.httr-oauth
.quarto
.Rproj.user
.Rproj.user
.Rproj.user
.Rproj.user